* {
    font-family: math;
}
img {

    transition: transform .1s;
    height: 170px;
    max-width: 250px;
    margin: 0 auto;
    object-fit:fill;
    background-clip:content-box;
    border-radius: 10px;
    border: solid rgb(219, 214, 214);
    
}
  
img:hover {
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.1); 
}

#info {
    display: block;
    text-align: center;
}


#product {
    background-color: rgb(238, 238, 238);
    text-align: center;
    display: inline-block;
    margin: 5px 25px 15px 5px;
    width: 300px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 1px 1px 2px 1.5px rgba(0, 0, 0, 0.08);
}

p {

    margin: -2px;
}

#thumbnail {
    height: 200px;
    margin-top: 20px;
}

#title {
    font-size: 1.5em;
    position: relative;
    height: 20px;
    margin-bottom: 35px;
}

#price {
    font-size: 1.2em;
    text-decoration: line-through 1.5px;
    color: rgb(100, 94, 94);

}

#discount {
    font-size: 1.4em;
    margin-top: 0px;
}

#category {
    margin-top: 50px;
}

#stock {
    font-size: 0.8em;
}

select {
    border-radius: 15px;
    width: 200px;
    height: 30px;
    font-size: 1.2em;
    text-align: center;
}

body {
    background-image: url(https://i.pinimg.com/736x/16/6e/9b/166e9b555e7274a6348bdcd20962b09e.jpg);
    background-size: 600px;

}   

#input {
    width: 85%;
    border-radius: 30px;
    text-align: center;
    border: solid 1px black;
    font-size: 16px;
    padding: 12px 12px;  
    margin-bottom: 12px; 
}
  
#product-list {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;

}
  
#product-list li a {
    border: 1px solid #e6e6e6; 
    margin-top: -1px;
    background-color: #ffffff; 
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    color: black; 
    display: block; 
}
  
#product-list li a:hover:not(.header) {
    background-color: #cecdcd; 
}

.hidden-details {
    display: none;
}

#search-bar {

    display: block;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
}

#filter {
    width: 13.5%;
    position: fixed;
}

/* Pagination links */
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  /* Style the active/current link */
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Add a grey background color on mouse-over */
  .pagination a:hover:not(.active) {background-color: #ddd;}
